/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-image: url(what-u-s-companies-can-learn-from-the-european-payment-scene_1500.jpg) ;
    color: white;
    margin: 0;
    padding: 0;
    
}
h2{
    text-align: center;
}
button{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: black 0.3s ease, color 0.3s ease, border 0.3s ease;
}
button a{
    font-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.affi{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #00000046;
}



form {
    max-width: 400px;
    margin: 20px auto;
    background: linear-gradient(rgb(9, 78, 182), #000);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}


/*----------------------------------------------------------------------------------------*/

.header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.containerr {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
}

.logo img {
    height: 50px;
    width: auto;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 15px;
}

.main-nav li {
    display: inline;
    margin-left: 20px;
}

.main-nav a {
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #3498db;
}

.landing {
    background-color: #ecf0f1;
    padding: 80px 0;
}

.text {
    width: 50%;
    float: left;
}

.image img {
    width: 100%;
}

.text h1 {
    color: #2c3e50;
}

.text p {
    color: #7f8c8d;
    line-height: 1.6;
}

/* Mega-menu styles */
.mega-menu {
    display: none;
    position: absolute;
    background-color: #3498db;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.mega-menu a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.mega-menu a:hover {
    background-color: #2c3e50;
}

/* Show mega-menu on hover */
.main-nav li:hover .mega-menu {
    display: block;
}