/* style.css */

body {
    font-family: Arial, sans-serif;
    background-image: url(what-u-s-companies-can-learn-from-the-european-payment-scene_1500.jpg);
    color: white;
    margin: 0;
    padding: 0;
    
}

h2 {
    text-align: center;
    color: #ffffff;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: linear-gradient(rgb(9, 78, 182), #000);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.submit {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*page index*/
.continer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: linear-gradient(rgb(9, 78, 182), #000);
}
ul {
    list-style: none;

}

li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    list-style: none;
    color: #a7acae;
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
    list-style: none;
    color: rgb(255, 255, 255);
}
/*table*/
table{
    display: flex;
    justify-content: center;
    align-items: center;

}